.label {
    -fx-background-color: linear-gradient(to bottom right, #00ddff, #00ffbf);
    -fx-border-color: lightgreen;
    -fx-border-width: 2px;
    -fx-background-radius: 1em 1em 0 1em;
    -fx-border-radius: 1em 1em 0 1em;
    -fx-border-insets: 0px 7px 0px 7px;
    -fx-background-insets: 0px 7px 0px 7px;
    -fx-padding: 10px;
}

.reply-label {
    -fx-background-color: linear-gradient(to bottom right, #00ffbf, #00ddff);
    -fx-border-color: lightgreen;
    -fx-background-radius: 1em 1em 1em 0;
    -fx-border-radius: 1em 1em 1em 0;
}

#displayPicture {
    /* Shadow effect on image. */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 5, 5);

    /* Change size of image. */
    -fx-scale-x: 1;
    -fx-scale-y: 1;

    /* Rotate image clockwise by degrees. */
    -fx-rotate: 0;
}

.orange > .reply-label {
    -fx-background-color: linear-gradient(to bottom right, orange, orangered);
    -fx-border-color: firebrick;
}

.yellow > .reply-label {
    -fx-background-color: linear-gradient(to bottom right, #fff458, #ffd13d);
    -fx-border-color: yellow;
}

.red > .reply-label {
    -fx-background-color: linear-gradient(to bottom right, orangered, red);
    -fx-border-color: darkred;
    -fx-text-fill: #f0f0f0;
}