.root {
    main-color: rgb(237, 255, 242);
    /*-fx-background-color: main-color;*/
    -fx-background-color: linear-gradient(to bottom, #f0fff4, #c8facc);
}

.text-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #a5d6a7;
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
    -fx-font: 20px "Calibri";
}

.button {
    -fx-background-color: #81c784;
    -fx-text-fill: white;
    -fx-font: italic bold 16px "Calibri";
    -fx-background-radius: 8px;
}

.button:hover {
    -fx-background-color: #66bb6a;
    -fx-font-size: 18px;
}

.button:pressed {
    -fx-background-color: #57a05a;
    -fx-font-size: 20px;
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-font-size: 10px;  /* Change width of scroll bar. */
    -fx-background-color: #f0fff4;
}

.scroll-bar .thumb {
    -fx-background-color: #a5d6a7;
    -fx-background-radius: 1em;
}

/* Hides the increment and decrement buttons. */
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-pref-height: 0;
    -fx-opacity: 0;
}